/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.iov {
	display: flex;
	justify-content: space-evenly;
	font-size: 80px;
	margin-left: 100px;
	margin-top: 60px;
}

.iod {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	justify-items: center;
	text-align: center;
}

.button {
	display: flex;
	justify-content: center;
	font-size: 30px;
	margin-right: 100px;
	margin-left: 220px;
	width: 200px;
	border-color: black;
	background: white;
	margin-bottom: 
}


}

.logo {
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
	margin-right: 100px;
	
}

.header-image {
	display: flex;
	justify-content: flex-end;
	margin-right: 150px;
	margin-left: 50px;
	margin-bottom: 90px
}

.top-section {
	
	display: flex;
	justify-content:
	align-content: center;
	margin-left: 60px;
	margin-right: 60px;
}

.bottom-section {
	display: flex;
	margin-left: 60px;
	margin-right: 60px;

}

.middle-img {
	display: flex;
	justify-content: center;
	margin: 50px;
}

#features, #about, #services, #product, #vision, #contact {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 20px;
	width: 200p
}

#contact {
	margin-top: 40px;
	margin-left: 80px;
	margin-bottom: 100px;
}
footer {
	text-align: center;
}

#navigation {
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	
}

.nav {
	color: gray
}

.nav:hover {
	color: darkgray;
}


/* Copy and paste your work from yesterday here and start to refactor into flexbox */